html body{
  height:100%;
}

.bg {
  height: 80vh;
  background-image:url('../images/landingpage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.types {
  height: 50vh;
  background-image:url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.display-4 {
  text-align: center;
  color: rgb(44, 62, 80);
  font-weight: 500;
  margin-top:5rem;
}

.subtext {
  text-align: center;
  color: rgb(98, 98, 98);
  margin-bottom: 2rem;
}

.type-title {
  text-align: center;
  color: white;
  font-weight: 500;
  margin-top:2rem;
}

.subtext-2 {
  text-align: center;
  color:#9eafc0;
  margin:0;
}

.type{
  color:white;
  padding-bottom: 3rem;
}

.plans {
  margin-bottom: 5rem;
}
.news{
  padding-top: 3rem;
}

img {
  height: 10rem;
  width: 100%;
}

/*login form*/
.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading .checkbox {
    margin-bottom: 30px;
  }
.checkbox {
    font-weight: normal;
}

input[type="text"]{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pass {
  margin-top:-1px;
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
/*login form ends*/

.center {
  justify-content: center;
}
.middle {
  height:55vh;
  justify-content: center;
  align-items: center;
}
.middle p {
  font-size: 1.5rem;
  padding:0 20px;
  text-align: center;
}
.col-md-6 {
  margin-bottom: 20px;
}
.margin-top {
  margin-top:20px;
}